@model List<CAFE_MENU.Models.Property>
@{
    ViewData["Title"] = "Özellikler";
    Layout = "_AdminLayout";
}
<h2>Özellikler</h2>
<a href="@Url.Action("AddProperty", "Property")" class="btn btn-success">Yeni Özellik Ekle</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Anahtar</th>
            <th>Değer</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var property in Model)
        {
            <tr>
                <td>@property.PropertyId</td>
                <td>@property.Key</td>
                <td>@property.Value</td>
                <td>
                    <a href="@Url.Action("UpdateProperty", "Property", new { id = property.PropertyId })" class="btn btn-warning">Düzenle</a>
                    <form asp-action="DeleteProperty" asp-controller="Property" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@property.PropertyId" />
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Bu özelliği silmek istediğinize emin misiniz?');">Sil</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
